/* style.css */

  :root {
    /* Sizes */
    --max-body-width: 55rem;
    --border-radius: 0.25rem;
    --border-width: 1px;
  

  
    /* Dark mode colors */
    --dark-border-color: #5f6267;
    --dark-border-hover-color: #bcbebd;
    --dark-background-color: #202124;
    --dark-highlighted-background-color: #292b2e;
    --dark-text-color: #fff;
    --dark-danger-color: #770018;
    --dark-danger-text-color: #fff;
    --dark-danger-hover-color: #6b0015;
    --dark-success-color: #006624;
    --dark-success-text-color: #fff;
    --dark-success-hover-color: #006122;
    --dark-danger-text-background-color: #770018;
    --dark-success-text-background-color: #006624;
    --dark-code-text-color: #f1a0b0;
    --dark-code-background-color: #292b2e;
    --dark-link-color: #9e2e4a;
    --dark-link-visited-color: #9e2e4a;
    --dark-link-hover-color: #9d4848;
    --dark-link-active-color: #fff;


        /* Force Light mode colors to be same as dark mode */
        --light-border-color: #5f6267;
        --light-border-hover-color: #bcbebd;
        --light-background-color: #202124;
        --light-highlighted-background-color: #292b2e;
        --light-text-color: #fff;
        --light-danger-color: #770018;
        --light-danger-text-color: #fff;
        --light-danger-hover-color: #6b0015;
        --light-success-color: #006624;
        --light-success-text-color: #fff;
        --light-success-hover-color: #006122;
        --light-danger-text-background-color: #770018;
        --light-success-text-background-color: #006624;
        --light-code-text-color: #f1a0b0;
        --light-code-background-color: #292b2e;
        --light-link-color: #9e2e4a;
        --light-link-visited-color: #9e2e4a;
        --light-link-hover-color: #9d4848;
        --light-link-active-color: #fff;
  }
  


.summary-content {
  font-size: 14px; /* Adjust the font size as needed */
  line-height: 1.4;
  padding: 10px;
  background-color: #202124; /* Optional background color for a code block effect */
  border: 1px solid #9e2e4a00; /* Optional border for a code block effect */
  border-radius: 10px; /* Optional border-radius for a rounded corner effect */
  margin-top: 5px; /* Optional margin for spacing */
}

.summary-content header {
  font-size: 20px;
  font-weight: bold;
}

.post-content header {
  font-size: 20px; /* Adjust the font size as needed */
}